/* 
==================================================
- File Description: Responsive css file of the template
==================================================
*/

/*** Grid Responsive (Breakpoints) ***/
/* SM ≥576px */
@media (min-width: 576px) {

    /* Container */
    .container {
        max-width: 540px;
    }

    /* Column */
    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }
}

/* MD ≥768px */
@media (min-width: 768px) {

    /* Container */
    .container {
        max-width: 720px;
    }

    /* Column */
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
}

/* LG ≥992px */
@media (min-width: 992px) {

    /* Container */
    .container {
        max-width: 960px;
    }

    /* Column */
    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }
}

/* XL ≥1200px */
@media (min-width: 1200px) {

    /* Container */
    .container {
        max-width: 1140px;
    }

    /* Column */
    .col-xl-1 {
        width: 8.33%;
    }

    .col-xl-2 {
        width: 16.66%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-4 {
        width: 33.33%;
    }

    .col-xl-5 {
        width: 41.66%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-7 {
        width: 58.33%;
    }

    .col-xl-8 {
        width: 66.66%;
    }

    .col-xl-9 {
        width: 75%;
    }

    .col-xl-10 {
        width: 83.33%;
    }

    .col-xl-11 {
        width: 91.66%;
    }

    .col-xl-12 {
        width: 100%;
    }
}

@media (min-width: 1400px) {

    /* Container */
    .container {
        max-width: 1320px;
    }
}

@media screen and (max-width: 991px) {
    .section-ptb {
        padding-top: 5.625rem;
        padding-bottom: 4.125rem;
    }

    .section-pb {
        padding-bottom: 4.125rem;
    }

    /* [ Buttons ] */
    /*================================================== */
    .button {
        padding: .81rem 1.750rem;
    }

    /* [ Hero Section Style ] */
    /*================================================== */
    .hero-content .hero-head {
        font-size: 3.375rem;
    }

    .hero-image {
        margin-top: 1.750rem;
    }

    /* [ Great Tea Section ] */
    /*================================================== */
    .great-tea .left-right {
        margin-left: 0;
    }

    .great-tea .image-side {
        margin-bottom: 2.125rem;
    }

    /* [ Testimonial Section ] */
    /*================================================== */
    .testimonial-inner {
        padding: 3.625rem 3rem;
    }

    .testimonial-wrapper {
        margin-top: 3rem;
    }

    .testimonial-inner::before {
        content: unset;
    }
}

@media screen and (max-width:767px) {
    .section-ptb {
        padding-top: 4.125rem;
        padding-bottom: 2.625rem;
    }

    .section-pb {
        padding-bottom: 2.625rem;
    }

    /* [ Section Title ] */
    /*================================================== */
    .section-title h1 {
        font-size: 2.25rem;
        margin-bottom: 1rem;
    }

    /* [ Hero Section Style ] */
    /*================================================== */
    .hero-content {
        padding-top: 2.375rem;
    }

    .hero-content .hero-head {
        font-size: 2.375rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .hero-content p br {
        display: none;
    }

    .hero-image::before {
        width: 240px;
        height: 240px;
    }

    .hero-popup {
        padding: 1rem 1.5rem;
        left: 2.125rem;
        bottom: 0.5rem;
    }

    .hero-popup img {
        width: 42px;
    }

    .hero-popup .popup-reating {
        margin-left: 0.750rem;
    }

    .popup-reating h5 {
        font-size: 1.313rem;
        margin-bottom: 0;
    }

    .popup-reating span {
        font-size: 0.875rem;
    }

    /* [ Testimonial Section ] */
    /*================================================== */
    .testimonial-inner {
        padding: 3rem 2.375rem;
    }

    .testimonial-wrapper {
        margin-top: 3.875rem;
    }

    .testimonial-content:not(:last-child) {
        margin-bottom: 3rem;
    }

    .testimonial-content.active {
        left: 0;
    }
}